html {
    background-image: linear-gradient(to left, rgb(231, 246, 250) 0%, #80caec 100%);
}
header {
    border-bottom:2px solid #523ada ;
    padding-bottom: 20px;
}

body {
    width: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    height: auto;
    background-color: white;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-image: url(/images/SH\ logo.png);
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;

}

#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;    /* padding above and below a
                            elements */
    
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
    
}
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }



a:focus,a:hover {
    font-style: italic;
    color: orangered;
    border: 3px blue;
    border-style: dotted solid;
}
h1 {
    font-size: 150%;
    color: maroon;
    text-indent: 30px;
}
h2 {
    font-size: 130%;
    color: maroon;
    text-indent: 30px;
}
h3 {
     column-span: all ;
}
img {
    float: left;
    margin-left:2em ;
}
.shadow{
    text-shadow: 2px 2px 2px rgb(245, 119, 119);
}
article{
    clear: left;
    width: 75%;
    float: left;
    margin-top: 10px;
    column-count: 3;
    column-rule: 2px dashed maroon;
    column-gap: 2em;
    margin-left: 2em;
    border-top:2px solid #523ada ;
    padding-top: 10px;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
}

aside {
    position: fixed;
    right: 0;
    margin-top: 20%;
    border: #523ada 2px;
    width: 20%;
    background-color: #7dabe7;
    padding: 10px;
}
footer {
    clear: both;
    border-top: 2px solid #523ada;
}
footer p.copyright {
    text-align: center;
    font-size:80%;

}

