html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*-----------------------------------------------------------*/
table.first {
    border-collapse: separate;
    border: 2px solid black;    
}
table.first th, table.first td {
    border: 2px solid blue;
}
table.first tr:nth-child(odd) {
    background-color: lightblue;
}
/*-----------------------------------------------------------*/
table.second {    
    border-collapse: collapse; 
    border: 2px solid purple;   
    caption-side: bottom;
}
table.second th {
    background-color: salmon;
}
table.second th, table.second td {
    padding: 0.7em;  
    vertical-align: middle;
    border: 2px solid purple;
}
table.second thead tr:first-child{     
    border-bottom: 2px solid purple;
}






table.third {
    width: 450px;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
   
}

table.third th,
table.third td {
    padding: 8px;
}
table.third thead {
    background-color: #8FE78F;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    
}

table.third th {
    width: 60px;
    text-align: center;
    border-top: orangered;
    border-bottom: orangered;
}

table.third td:first-child {
    width: 60px;
    text-align: center;
}

table.third td:nth-child(3) {
    text-align: center;
}